header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
}

.buttons > button {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.buttons button:hover {
    color: darkblue;
}

.buttons button i {
    font-size: 1.2rem;
}
