<div class="container">

    <div class="search-bar" [class.active]="active">

        <input type="text"
               #inputElement
               [ngModel]="searchText"
               (ngModelChange)="onInputChangeEvent($event)"
               (blur)="onInputBlurEvent()"
               [disabled]="disabled">

    </div>

    <div class="buttons" [class.active]="active">

        <div class="show">
            <button type="button" (click)="onToggleActive()">
                <i class="bi bi-search"></i>
            </button>
        </div>

        <div class="hide">
            <button type="button" (click)="onToggleActive()">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

    </div>

</div>
